@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Andada+Pro&family=Lora&family=Montserrat:ital@1&family=Nunito+Sans&family=Pacifico&family=Permanent+Marker&family=Quintessential&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Andada+Pro&family=Charm&family=Lora&family=Montserrat:ital@1&family=Nunito+Sans&family=Pacifico&family=Permanent+Marker&family=Quintessential&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Andada+Pro&family=Charm&family=Lora&family=Montserrat:ital@1&family=Nunito+Sans&family=Old+Standard+TT:wght@700&family=Pacifico&family=Permanent+Marker&family=Quintessential&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap');
.Stack{
    height: 100vh;
    width: 100%;
   margin-top: 5%;
    
}
.flex{
    align-self: flex-start;
    border-spacing: 200px;
}
.image{
    align-self:center;
    height: 300px;
    width: 300px;
    border-radius:100%;
    background-color: transparent;
    box-shadow: large;
    box-sizing: 300px;
    z-index: 1;
}
.hi{
    font-size: 200%;
    font-family: 'Charm', cursive;
    font-weight: 700;
    letter-spacing: 3px!important;

}
.role{
    font-size: 250%;
    font-family: 'Pacifico', cursive;
    background:linear-gradient(30deg,rgb(25, 0, 255),rgb(250, 100, 0),rgb(83, 9, 255),rgb(0, 255, 34),rgb(255, 0, 0),rgb(174, 0, 197),rgb(255, 174, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name{
    font-size:300%;
    font-family: 'Old Standard TT', serif;
    background:linear-gradient(30deg,rgb(229, 255, 0),rgb(236, 92, 25),rgb(9, 9, 255),rgb(255, 0, 13),brown,green,rgb(0, 255, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
    
}

.circle{
    position:absolute;
    background: linear-gradient(30deg,rgb(229, 255, 0),rgb(236, 92, 25),rgb(9, 9, 255),rgb(255, 0, 13),brown,green,rgb(0, 255, 0));
    opacity: 0.7;
    width:300px;
    height:300px;
    align-items: left;

}

