@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Andada+Pro&family=Lora&family=Montserrat:ital@1&family=Nunito+Sans&family=Permanent+Marker&family=Quintessential&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Andada+Pro&family=Charm&family=Lobster&family=Lora&family=Montserrat:ital@1&family=Nunito+Sans&family=Old+Standard+TT:wght@700&family=Pacifico&family=Permanent+Marker&family=Quintessential&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Andada+Pro&family=Bitter:ital@1&family=Charm&family=Lobster&family=Lora&family=Montserrat:ital@1&family=Nunito+Sans&family=Old+Standard+TT:wght@700&family=Pacifico&family=Permanent+Marker&family=Quintessential&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Andada+Pro&family=Bitter:ital@1&family=Charm&family=Lobster&family=Lora&family=Montserrat:ital@1&family=Nunito+Sans&family=Old+Standard+TT:wght@700&family=Pacifico&family=Permanent+Marker&family=Quintessential&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Andada+Pro&family=Bitter:ital@1&family=Charm&family=Lobster&family=Lora&family=Montserrat:ital@1&family=Nunito+Sans&family=Old+Standard+TT:wght@700&family=Pacifico&family=Permanent+Marker&family=Playfair+Display+SC:ital@0;1&family=Quintessential&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap');
.about{
    height: 100vh;
    
}
.aboutText{
    font-size: 300%;
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Permanent Marker', cursive;
    color:rgb(255, 123, 0);
}

.aboutKey{
    font-size:180% ;
    margin-top:2%;
    margin-left: 15%;
    font-family: 'Charm', cursive;
    font-weight: 600;
}
.aboutThought{
    font-size:150%;
    margin-top: 5%;
    margin-left:20%;
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;
}
.aboutCode{

    text-align: center;
    font-size: 200%;
    padding: 5% 20%;
    font-family: 'Bitter', serif;

}
.spans{
    font-size:150% ;
    font-family: 'Lobster', cursive;
}